@model List<ResultGalleryDto>
@using Carola.DtoLayer.Dtos.GalleryDtos

<section class="gallery-section">
    <div class="container-fulid">
        <div class="owl-carousel owl_dots_none theme_carousel owl-theme" data-options='{"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": false, "dots": false, "autoplay": true, "autoplayTimeout": 7000, "smartSpeed": 1800, "responsive":{ "0" :{ "items": "1" }, "768" :{ "items" : "3" } , "1000":{ "items" : "5" }}}'>
            @foreach (var item in Model)
            {
                <div class="gallery-image-block">
                    <figure class="gallery-image">
                        <img src="@item.ImageUrl" alt="">
                    </figure>
                    <a href="@item.ImageUrl" class="lightbox-image" data-fancybox="gallery"><img src="/carola/assets/images/icons/arrowsout.png" alt=""></a>
                </div>
            }
        </div>
    </div>
</section>