<!-- Müşteri Yorumları -->
<section class="testimonials-section pt_120 pb_120">
    <div class="container">
        <div class="section-title centred mb_60">
            <span class="sub-title">Müşteri Yorumları</span>
            <h2 class="title">Müşterilerimiz Ne Diyor?</h2>
        </div>
        <div class="owl-carousel owl_nav_one owl_dot_one theme_carousel owl-theme"
             data-options='{"loop": true, "margin": 30, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 7000, "smartSpeed": 1800, "responsive":{ "0":{ "items":"1" }, "768":{ "items":"1" }, "1200":{ "items":"2" }}}'>

            <div class="testimonial-block-one style-two">
                <div class="inner-box">
                    <div class="author-box">
                        <figure class="author-image">
                            <img src="/carola/assets/images/resource/thumb-image-1.png" alt="Ahmet Yılmaz">
                        </figure>
                        <div class="author-info">
                            <h5>Ahmet Yılmaz</h5>
                            <span class="designation">İşletme Sahibi</span>
                        </div>
                    </div>
                    <ul class="author-rating">
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                    </ul>
                </div>
                <div class="author-comments">
                    <p>"Rezervasyon ve teslim alma süreci son derece kolaydı. Online sistem kullanışlı, personel son derece yardımsever. Carola'yı herkese tavsiye ederim!"</p>
                </div>
            </div>

            <div class="testimonial-block-one style-two">
                <div class="inner-box">
                    <div class="author-box">
                        <figure class="author-image">
                            <img src="/carola/assets/images/resource/thumb-image-2.png" alt="Selin Kaya">
                        </figure>
                        <div class="author-info">
                            <h5>Selin Kaya</h5>
                            <span class="designation">Pazarlama Müdürü</span>
                        </div>
                    </div>
                    <ul class="author-rating">
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                    </ul>
                </div>
                <div class="author-comments">
                    <p>"Araçlar tertemiz, fiyatlar son derece uygun. İş seyahatlerimde düzenli olarak Carola'yı tercih ediyorum. Kalite ve güven açısından rakipsizler."</p>
                </div>
            </div>

            <div class="testimonial-block-one style-two">
                <div class="inner-box">
                    <div class="author-box">
                        <figure class="author-image">
                            <img src="/carola/assets/images/resource/thumb-image-1.png" alt="Mehmet Demir">
                        </figure>
                        <div class="author-info">
                            <h5>Mehmet Demir</h5>
                            <span class="designation">Mühendis</span>
                        </div>
                    </div>
                    <ul class="author-rating">
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                    </ul>
                </div>
                <div class="author-comments">
                    <p>"7/24 yol yardımı hizmetleri sayesinde seyahatim boyunca çok güvende hissettim. Bir sorunla karşılaştığımda anında destek geldi. Harika bir deneyimdi."</p>
                </div>
            </div>

            <div class="testimonial-block-one style-two">
                <div class="inner-box">
                    <div class="author-box">
                        <figure class="author-image">
                            <img src="/carola/assets/images/resource/thumb-image-2.png" alt="Zeynep Arslan">
                        </figure>
                        <div class="author-info">
                            <h5>Zeynep Arslan</h5>
                            <span class="designation">Öğretim Üyesi</span>
                        </div>
                    </div>
                    <ul class="author-rating">
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                    </ul>
                </div>
                <div class="author-comments">
                    <p>"Tatil için ailemle birlikte araç kiraladık. Geniş ve konforlu araç seçenekleri, şeffaf fiyatlandırma ve güler yüzlü ekip. Bir dahaki seyahatimizde yine buradayız!"</p>
                </div>
            </div>

            <div class="testimonial-block-one style-two">
                <div class="inner-box">
                    <div class="author-box">
                        <figure class="author-image">
                            <img src="/carola/assets/images/resource/thumb-image-1.png" alt="Burak Şahin">
                        </figure>
                        <div class="author-info">
                            <h5>Burak Şahin</h5>
                            <span class="designation">Girişimci</span>
                        </div>
                    </div>
                    <ul class="author-rating">
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                    </ul>
                </div>
                <div class="author-comments">
                    <p>"Ücretsiz teslim alma ve bırakma hizmeti benim için çok büyük kolaylık sağladı. Zaman kaybetmeden aracıma kavuştum. Profesyonel ve hızlı hizmet için teşekkürler."</p>
                </div>
            </div>

            <div class="testimonial-block-one style-two">
                <div class="inner-box">
                    <div class="author-box">
                        <figure class="author-image">
                            <img src="/carola/assets/images/resource/thumb-image-2.png" alt="Ayşe Çelik">
                        </figure>
                        <div class="author-info">
                            <h5>Ayşe Çelik</h5>
                            <span class="designation">Tasarımcı</span>
                        </div>
                    </div>
                    <ul class="author-rating">
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                        <li><i class="icon-21"></i></li>
                    </ul>
                </div>
                <div class="author-comments">
                    <p>"Filo çok geniş, her bütçeye uygun seçenek var. Özellikle BMW serisini denedim, bakımı mükemmeldi. Carola ile sürüş deneyimi bambaşka bir boyuta taşındı."</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Müşteri Yorumları Sonu -->
