@model List<ResultLocationDto>
<style>
    .services-iamge {
    width: 100%;
    height: 200px; /* sabit yükseklik */
    overflow: hidden;
    border-radius: 10px; /* opsiyonel, daha şık görünür */
}

.services-iamge img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* resmi kırpar ama oranı korur */
    display: block;
}
</style>
<section class="services-section pt_120 pb_90">
    <div class="container">
        <div class="section-title centred mb_60">
            <span class="sub-title">Şubelerimiz</span>
            <h2 class="title">Hizmet Verdiğimiz Yerler</h2>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="services-block-one">
                        <h6 class="service-title"><a href="#">@item.LocationName - @item.City</a></h6>
                        <div class="services-iamge">
                            <img src="@item.ImageUrl" alt="">
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>